<!-- <div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div> -->
<clr-datagrid [formGroup]="form">
  <clr-dg-column *ngFor="let column of datagridColumns">{{ column.label }}</clr-dg-column>
  <clr-dg-row>
      <clr-dg-cell *ngFor="let column of datagridColumns">{{ column.value }}</clr-dg-cell> <!-- Can be it's own component to be added to dynamically -->
  </clr-dg-row>
</clr-datagrid>
